@import url("../header/__logo/header__logo.css");
@import url("../header/__lang-list/header__lang-list.css");
@import url("../header/__lang-link/header__lang-link.css");
@import url("./__lang-link/_active/header__lang-link_active.css");

.header {
  font-family: "Inter", Arial, sans-serif;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 2.36%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .header {
    max-width: 928px;
    padding: 28px 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    margin: 0 24px;
    padding: 28px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    margin: 0 16px 48px;
    padding: 16px 0 0;
  }
}
