.place__website_link {
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #ffffff;
  padding-top: 12px;
  opacity: 1;
}

.place__website_link:hover {
  opacity: 0.5;
  transition: 0.3s ease-out;
}
