.header__lang-list_inline {
  display: inline-block;
  margin-right: 18px;
  padding: 0px;
}
/* преобразует список в строчный элемент */
.header__lang-list_inline:nth-child(2n + 0) {
  margin-right: 0px;
}
