@import url("../cover/__title/cover__title.css");
@import url("../cover/__subtitle/cover__subtitle.css");
@import url("../cover/__overlay/cover__overlay.css");

.cover {
  margin: 0 auto;
  max-width: 1184px;
}

@media screen and (max-width: 520px) {
  .cover {
    margin: 0 0 64px;
  }
}
