.cover__background {
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../../images/cover-trains.jpg") no-repeat;
  position: relative;
  background-size: cover;
}

.cover__background::before {
  content: "";
  background-color: rgba(42, 44, 47, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 520px) {
  .cover__background {
    max-width: 320px;
    min-height: 200px;
    margin: 0 0 16px;
  }