@import url(../__website/_link/place__website_link.css);
@import url(../__website/_url-heading/place__website_url-heading.css);

.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  .place__website {
    display: none;
  }
}
